#carousel-team {
  background-color: white !important;
}

body {
  overflow-x: hidden;
}

.team-header {
  background-color: #8d1400;
  color: white;
  text-align: center;
  height: 5rem;
  position: relative;
}
.colab {
  transform: translate(0, 50%);
}

.carrousel-img {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.item-name {
  color: black;
  text-align: center;
  font-weight: bold;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.item-description {
  text-align: center;
}

.item-subtitle {
  text-align: center;
}

.about-us {
  background-color: white;
  padding: 50px 120px 50px 120px;
}

.about-detail > h3,
p {
  color: #000;
}

.about-detail > h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.about-detail > p {
  text-align: justify;
  font-size: 15px;
}

.directors-letter {
  display: flex;
  background-color: black;
  padding: 50px 120px 50px 120px;
  position: relative;
}

.letter-content > p {
  color: white;
  text-align: justify;
  font-size: 15px;
}

.letter-header {
  font-weight: bold;
  text-transform: none;
}

.letter-img {
  width: 100%;
}

.letter-img > img {
  height: 50rem;
  transform: translate(44vh, 10%);
}

.copyright {
  background: gray;
  vertical-align: middle;
  padding: 25px 120px 25px 120px;
  font-size: 15px;
}

.media-icons {
  font-size: 25px;
}

.quienes-somos-img {
  width: 100%;
  height: 88vh;
}

@media only screen and (max-width: 700px) {
  .about-us {
    padding: 50px 60px 50px 60px;
  }
  .directors-letter {
    padding: 50px 60px 50px 60px;
    display: inline-block;
  }
  .letter-img {
    display: none;
  }
  .copyright {
    padding: 25px 40px 25px 40px;
  }
  .media-icons {
    font-size: 18px;
    display: inline;
  }
  .quienes-somos-img {
    height: 100%;
  }
}
