.reglamento-container {
  background-image: url("../images/reglamento_fondo.jpg");
  background-size: contain;
  height: 100vh !important;
  background-repeat: no-repeat;
  padding-top: 15vh;
}

.button-white {
  background-color: white;
  color: black;
  font-family: "poppins";
  width: 80%;
  border-radius: 4px;
}

.reglamento-title {
  font-family: "poppins";
  font-weight: bolder;
  font-size: 60px;
  margin-bottom: 50px;
}

.reglamento-description {
  font-size: 30px;
  text-align: center;
}

.reglamento-button {
  margin-top: 50px;
}

@media (max-width: 600px) {
  .reglamento-title {
    font-size: 30px !important;
  }

  .reglamento-description {
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .reglamento-container {
    padding-top: 20px;
  }

  /* .reglamento-text{
        padding-top: 30vh;
        padding-left: 60%;
    } */
}
