<div class="row justify-content-center">
  <div class="c. l-md-11">
    <h4>PREAMBULO</h4>
    <div class="text-justify">
      <p>
        <b>STAGE DANCE CHAMPIONSHIP</b>, como Gestores Culturales, recibe a
        todos los Directores, Coreógrafos y bailarines de cada país para que
        sean parte de la mejor experiencia en Campeonatos de Danza, a
        continuación puntos importantes a resaltar:
      </p>
      <p>
        Todo bailarín menor de edad debe estar representado por un adulto, sea
        director, coreógrafo o padre de familia. Para poder representar a una
        Institución, el director deberá ser el representante legal del grupo de
        participantes o dar la respectiva autorización para el debido uso del
        nombre de su Academia, Escuela o Grupo.
      </p>
      <p>
        La clasificación al CAMPEONATO INTERNACIONAL, lo gana la Escuela,
        Academia o Grupo de Danza, dejando total potestad a su DIRECTOR para
        decidir el equipo que lo representará en STAGE DANCE CHAMPIONSHIP
        INTERNATIONAL. Únicamente los bailarines solistas deberán clasificar en
        los CAMPEONATOS NACIONALES para poder participar como Solistas en el
        INTERNACIONAL.
      </p>
      <p>
        Los premios como “Becas de Participación” son personales e
        intransferibles y permanecen vigentes mientras el bailarín siga en la
        Institución que lo inscribió y para el Campeonato y año indicado.
      </p>
      <p>
        Los premios como “Becas de Participación” son personales e
        intransferibles y permanecen vigentes mientras el bailarín siga en la
        Institución que lo inscribió y para el Campeonato y año indicado.
      </p>
      <p>
        Por organización y control, toda comunicación, información y contacto se
        lo realizará directamente con el Director o Líder de cada grupo
        inscrito. Los valores cancelados por inscripción para CAMPEONATOS
        NACIONALES, no se devolverán bajo ningún concepto.
      </p>
      <p>
        Las cuotas canceladas por PACK DE PARTICIPACIÓN o PACK DE ACOMPAÑANTE
        para CAMPEONATOS INTERNACIONALES deberán ser enviados por los directores
        o líderes (de toda su delegación) dentro de los plazos solicitados sin
        atraso ni mora, solo así y desde la SEGUNDA CUOTA en adelante, en caso
        de no poder continuar o necesitar retirarse del proceso por algún motivo
        de fuerza mayor o eventualidad ajena a todos, se genera devolución del
        70% en dólares excluyendo el envío. Dicha devolución será gestionada a
        través del Director o Líder 15 días después de la ejecución del
        CAMPEONATO INTERNACIONAL.
      </p>
      <p>
        Si la Institución se atrasa en alguno de los pagos, no tendrá derecho a
        reclamo o devolución.
      </p>
    </div>
    <h4>MODALIDADES DE DANZA</h4>
    <div class="text-justify">
      <h6>BALLET CREACION INEDITA</h6>
      <p>
        Coreografías originales, con técnica, vestuario y música de ballet
        clásico.
      </p>
      <h6>BALLE FRAGMENTO O REPERTORIO:</h6>
      <p>
        Danzas que forman parte del repertorio histórico de la Danza Clásica.
        Puede haber adaptaciones (ajustes de rutina, no uso de zapatillas de
        punta por ejemplo) en el nivel Estudiante – Beginner, dependiendo de las
        posibilidades y condiciones del o los intérpretes. Debe tomarse en
        cuenta la vestimenta acorde al fragmento que interpreta.
      </p>
      <h6>NEOCLÁSICO:</h6>
      <p>
        Mayor soltura en el torso, se incorpora caídas y trabajo de piso, bajo
        los principios técnicos clásicos.
      </p>
      <h6>LYRICAL</h6>
      <p>
        Combina técnicas de jazz, ballet, danza moderna, acentuando la
        expresividad y la manifestación de emociones a través del movimiento.
      </p>
      <h6>DANZAS ESPAÑOLAS:</h6>
      <p>
        Conjunto de bailes de origen español. Difieren según las regiones y
        representan los actos culturales más importantes de cada localidad.
      </p>
      <h6>DANZAS ÉTNICAS:</h6>
      <p>
        Es un tipo de baile social, tradicional, a menudo practicado en grupos,
        que forma parte del acervo cultural o tradición de una cultura o
        sociedad, vinculado a la identidad de los pueblos y que recogen parte de
        sus tradiciones en su vestuario y movimientos.
      </p>
      <h6>TAP</h6>
      <p>
        Rutinas en las que el movimiento rítmico de los pies realizando un
        zapateo musical es la característica principal.
      </p>
      <h6>DANZAS ORIENTALES</h6>
      <p>
        Una de las danzas más antiguas del mundo, que combina elementos de
        diferentes países del Medio Oriente y Norte de África.
      </p>
      <h6>DANZAS LATINAS</h6>
      <p>
        Tipos de bailes de salón y bailes sociales que, con pocas excepciones,
        se originaron en América Latina.
      </p>
      <h6>TEATRO MUSICAL</h6>
      <p>
        Performance teatral que combina canciones, diálogos, actuación y danza.
      </p>
      <h6>COMMERCIAL DANCE</h6>
      <p>
        Estilo dinámico, estético, muy popular. El resultado de adaptar
        distintos estilos de música urbana y pop.
      </p>
      <h6>DANZAS URBANAS</h6>
      <p>
        Diferentes estilos de danza callejera surgidos en los años 70. Tales
        como Hip Hop, Locking, Popping; House Dance, entre otros.
      </p>
      <h6>SHOW</h6>
      <p>
        Rutina con mesclas de estilos o que su estilo no se encuentre detallado
        en el reglamento. Rutina con alto impacto visual (acrobacias, efectos
        teatrales, etc)
      </p>
      <h5>Modalidades especiales</h5>
      <h6>POMS & CHEER</h6>
      <p>
        Los accesorios (Pom pons) deben ser utilizados al menos un 80% de la
        rutina. Kicks, sincronización, efectos visuales son características de
        este estilo.
      </p>
      <h6>ACRO DANCE</h6>
      <p>
        Estilo de baile que combina la técnica de la danza clásica con elementos
        acrobáticos.
      </p>
      <p>
        <b
          >*Límite de acrobacias: 3 coreografías (excepto en modalidades: Show y
          acro dance) <br />
          *No se permiten acrobacias en Ballet (creación inédita y Fragmento o
          Repertorio)
        </b>
      </p>
    </div>
    <div class="text-justify">
      <h4>CATEGORIAS</h4>
      <p>
        Las categorías están divididas por el numero de participantes en cada
        puesta en escena.
      </p>
    </div>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Categoria</th>
            <th>Numeros de bailarines</th>
            <th>Tiempo maximo de rutina</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Solo</td>
            <td>1 bailarin</td>
            <td>Tiempo maximo de rutina</td>
          </tr>
          <tr>
            <td>Duo</td>
            <td>2 bailarines</td>
            <td>2 minutos</td>
          </tr>
          <tr>
            <td>Trio</td>
            <td>3 bailarines</td>
            <td>2 minutos</td>
          </tr>
          <tr>
            <td>Grupo Pequeno</td>
            <td>4-9 bailarines</td>
            <td>2:30 minutos</td>
          </tr>
          <tr>
            <td>Grupo Grande</td>
            <td>10 a 19 bailarines</td>
            <td>3 minutos</td>
          </tr>
          <tr>
            <td>Grupo XL</td>
            <td>20 o mas bailarines</td>
            <td>4 minutos</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-justify">
      <h4>Tiempo extra maximo en compra</h4>
      <p>
        Solos/duos/trios : 1 minuto adicional Grupales: 2 minutos adicionales El
        tiempo extra se podrá adquirir con un valor indicado en su carta de
        invitación, por cada 30 segundos, por participante, por coreografía.
      </p>
      <h4>Tiempo de rutina</h4>
      <p>Corre desde el primer movimiento o sonido en escena</p>
    </div>
    <div class="text-justify">
      <h4>Divisiones</h4>
      <p>
        Las divisiones están determinadas por la separación de edades de los
        bailarines.
      </p>
      <h6>MINI</h6>
      <p>
        Es la división de los más pequeños y nuevos bailarines, ellos están
        entre los 4 y 6 años y siempre deberán ser inscritos en el nivel
        ESTUDIANTE BEGINNER.
      </p>
      <h6>PETITE</h6>
      <p>
        Estos bailarines están entre los 7 y los 10 años y también deberán ser
        inscritos en el nivel ESTUDIANTE BIGINNER.
      </p>
      <h6>JUNIOR</h6>
      <p>
        Los participantes de esta división estarán entre los 11 y 13 años y
        siendo nivel ESTUDIANTE, deberán elegir de acuerdo con sus años de
        estudio en danza, la subdivisión del nivel (BEGINNER O ADVANCED)
      </p>
      <h6>SENIOR</h6>
      <p>
        Los bailarines están entre los 14 y 17 años y siendo nivel ESTUDIANTE,
        deberán elegir de acuerdo con sus años de estudio en danza, la
        subdivisión del nivel (BEGINNER O ADVANCED)
      </p>
      <h6>OPEN</h6>
      <p>
        Esta división no contempla edades definidas ni niveles de ESTUDIANTES,
        simplemente pueden competir todos los bailarines
      </p>
      <p>
        <i
          >Para los Campeonatos nacionales e Internacionales, los participantes
          deben coincidir perfectamente en la división que le corresponde, según
          su edad al momento de la ejecución del campeonato.</i
        >
      </p>
    </div>
    <div class="text-justify">
      <h4>NIVELES</h4>
      <h6>ESTUDIANTES BEGINNER</h6>
      <p>
        Son aquellos nuevos bailarines de cualquier edad, que tengan no más de 3
        años practicando Danza.
      </p>
      <h6>ESTUDIANTES ADVANCED</h6>
      <p>
        Son los bailarines desde división JUNIOR, que tengan de 4 años en
        adelante practicando danza.
      </p>
      <h6>PROFESIONALES</h6>
      <p>
        Se considera como profesional a todo bailarín que siendo división
        SENIOR, reciba remuneración económica por ser profesor de danza,
        coreógrafo o intérprete.
      </p>
    </div>
    <div class="text-center">
      <img
        src="../../../assets/images/tabla-division-nivel.png"
        alt="Tabla de divion vs nivel"
      />
    </div>
    <div class="text-justify">
      <h4>MÉTODO DE CALIFICACIÓN</h4>
      <p>Nuestro Panel de Jueces esta conformado por:</p>
      <p>
        <b>JUEZ SUPERVISOR:</b> Profesional que supervisará el correcto
        desempeño de cada integrante de la mesa de jueces, teniendo potestad de
        solicitar revisión o corrección en caso de alguna calificación poco
        fundamentada, todo basado en el reglamento Stage Dance Championship
      </p>
      <p>
        <b>JUEZ TÉCNICO: </b>Es el profesional especializado en la ejecución de
        la técnica de la Modalidad en competencia, su evaluación estará dada
        sobre 60 puntos. Será el profesional encargado de dar el feedback en
        caso de tratarse de campeonatos online o mixtos. Los parámetros para
        evaluar son:
      </p>
    </div>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>PARAMETROS</th>
            <th>PUNTUACION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Tecnica</th>
            <td>10 puntos</td>
          </tr>
          <tr>
            <th>Elementos y habilidades (ejecución correcta)</th>
            <td>10 puntos</td>
          </tr>
          <tr>
            <th>Sincronización (uniformidad, precisión del equipo)</th>
            <td>10 puntos</td>
          </tr>
          <tr>
            <th>Uso del espacio (conciencia espacial)</th>
            <td>10 puntos</td>
          </tr>
          <tr>
            <th>
              Habilidad de movimiento (colocación, presencia, estabilidad)
            </th>
            <td>10 puntos</td>
          </tr>
          <tr>
            <th>Dinámicas de movimiento (musicalidad, intensidad, control</th>
            <td>10 puntos</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-justify">
      <h4></h4>
      <p>
        <b> JUEZ COREOGRÁFICO </b>Es el profesional encargado netamente del
        trabajo coreográfico, sus formas, transiciones, niveles, complejidad,
        etc
      </p>
    </div>
    <div class="table-responsive text-center">
      <table class="table">
        <thead>
          <tr>
            <th>PARAMETROS</th>
            <th>PUNTUACION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Composición del movimiento (originalidad)</th>
            <td>10 puntos</td>
          </tr>
          <tr>
            <th>
              Puesta en escena (formaciones, transiciones, niveles, efectos
              visuales
            </th>
            <td>10 puntos</td>
          </tr>
          <tr>
            <th>Nivel de dificultad (complejidad)</th>
            <td>10 puntos</td>
          </tr>
          <tr>
            <th>Proyección (expresión y energía)</th>
            <td>10 puntos</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-justify">
      <p>
        <b>JUEZ DE AMONESTACIONES</b>Se trata del profesional que se encarga de
        cuidar el correcto cumplimiento del Reglamento.
      </p>
    </div>
    <div class="table-responsive text-center">
      <table class="table">
        <thead>
          <tr>
            <th>FALTAS AL REGLAMENTO</th>
            <th>AMONESTACIÓN</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              División equivocada (participante que no corresponda al rango de
              edad inscrito)
            </th>
            <td>-10 puntos</td>
          </tr>
          <tr>
            <th>
              Categoría equivocada (si el número de participantes no corresponde
              a la categoría inscrita)
            </th>
            <td>-10 puntos</td>
          </tr>
          <tr>
            <th>
              Nivel equivocado (si algún participante no corresponde al nivel
              inscrito)
            </th>
            <td>-10 puntos</td>
          </tr>
          <tr>
            <th>
              Acción inapropiada (lenguaje, vestuario, movimientos ofensivos o
              inapropiados)
            </th>
            <td>-2 puntos (por cada vez)</td>
          </tr>
          <tr>
            <th>Fuera de tiempo reglamentario</th>
            <td>-2 puntos (por cada 5 seg)</td>
          </tr>
          <tr>
            <th>Plagio (parcial o total)</th>
            <td>-10 puntos</td>
          </tr>
          <tr>
            <th>
              Incumplimiento del reglamento (falta a alguna regla, requerimiento
              o restricción enunciada en el reglamento)
            </th>

            <td>-10 puntos</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="text-justify">
      Las fichas de calificación serán enviadas vía correo electrónico,
      únicamente a los directores o líderes de cada Academia, Escuela o grupo de
      danza, hasta un plazo no mayor de 8 días culminado el evento. Los
      bailarines independientes si recibirán sus fichas y devoluciones.
    </p>
    <div class="text-justify">
      <h4>PREMIOS</h4>
      <h6>MEDALLAS</h6>
      <p>
        Cada participante recibirá una medalla especial STAGE DANCE
        CHAMPIONSHIP, como estímulo y constancia de su recorrido dancístico.
      </p>
      <h6>TROFEO PRIMER LUGAR</h6>
      <p>
        Se premiará a la coreografía que obtenga el puntaje más alto dentro de
        cada bloque de competencia dividido por modalidad, categoría, división y
        nivel. Si existe empate, se resolverá de acuerdo con la evaluación dada
        por el juez Técnico.
      </p>
      <h6>TROFEO SEGUNDO LUGAR</h6>
      <p>
        Se premiará a la coreografía que obtenga el segundo puntaje más alto
        dentro de cada bloque de competencia dividido por modalidad, categoría,
        división y nivel. Si existe empate, se resolverá de acuerdo con la
        evaluación dada por el juez Técnico.
      </p>
      <h6>TROFEO TERCER LUGAR</h6>
      <p>
        Se premiará a la coreografía que obtenga el tercer puntaje más alto
        dentro de cada bloque de competencia dividido por modalidad, categoría,
        división y nivel. Si existe empate, se resolverá de acuerdo con la
        evaluación dada por el juez Técnico.
      </p>
      <h5>PREMIOS DIAMOND</h5>
      <p>
        En caso de que los ganadores de alguna Categoría, Modalidad, división y
        nivel obtuvieran un puntaje mayor a 95 puntos en su puesta en escena,
        será considerado como GANADOR DIAMOND, por lo que recibirá el TROFEO
        DIAMOND del lugar correspondiente. En el caso de los premios especiales,
        donde además se entregará dinero en efectivo, también los ganadores
        Diamond serán especialmente retribuidos.
      </p>
      <h5>PREMIOS ESPECIALES</h5>
      <h6>GRAN CAMPEÓN</h6>
      <div class="m-l-10">
        <p>
          Siendo la máxima distinción de honor, lo obtendrá la Escuela, Academia
          o Agrupación de Danza que cumpla con los requisitos de postulación y
          que a su vez obtenga el puntaje global más alto entre todos los
          postulantes, siendo los mejores expositores de Danza en dicho
          campeonato. En caso de empate, se definirá por la mayor cantidad de
          primeros lugares y en caso de ser el único postulante, para obtenerlo,
          deberá tener un mínimo de 85 puntos entre el promedio de sus puestas
          en escena DE NIVEL ESTUDIANTE.
        </p>
        <p><b>Requisitos:</b></p>
        <ul>
          <li>
            <p>
              Tener en competencia un mínimo de 15 coreografías (participan
              todas las divisiones, categorías y modalidades en danza)
            </p>
          </li>
          <li>
            <p>
              10 de esas coreografías deben ser grupales (todas las divisiones)
            </p>
          </li>
          <li><p>3 o más modalidades distintas entre sus coreografías</p></li>
          <li><p>Modalidades especiales NO participan</p></li>
        </ul>
        <p><b>Premios:</b></p>
        <ul>
          <li>
            <p>Trofeo STAGE DANCE CHAMPIONSHIP PREMIUM (2 metros de alto)</p>
          </li>
          <li>
            <p>
              La Institución ganadora será la ABANDERADA representante de su
              país en el STAGE DANCE INTERNATIONAL, donde abrirá el campeonato
              con una coreografía grupal de su autoría que podría o no
              participar en dicho campeonato.
            </p>
          </li>
          <li>
            <p>
              El GRAN CAMPEÓN "Stage Dance Championship CHILE 2021" será el
              encargado de aperturar el Campeonato Stage Dance Championship
              CHILE 2022" con una coreografía grupal.
            </p>
          </li>
          <li>
            <p>
              Este premio siempre estará acompañado por dinero en efectivo y
              becas.
            </p>
          </li>
        </ul>
      </div>
      <h6>MEJOR ESCUELA PROFESIONAL</h6>
      <p>
        Siendo la máxima distinción de honor, lo obtendrá la Escuela, Academia o
        Agrupación de Danza que cumpla con los requisitos de postulación y que a
        su vez obtenga el puntaje global más alto entre todos los postulantes,
        siendo los mejores expositores de Danza en dicho campeonato. En caso de
        empate, se definirá por la mayor cantidad de primeros lugares y en caso
        de ser el único postulante, para obtenerlo, deberá tener un mínimo de 85
        puntos entre el promedio de sus puestas en escena de NIVEL PROFESIONAL
      </p>
      <div class="m-l-10">
        <p><b>Requisitos:</b></p>
        <ul>
          <li>
            <p>
              Tener en competencia un mínimo de 15 coreografías (participan
              todas las categorías y modalidades en danza)
            </p>
          </li>
          <li><p>10 de esas coreografías deben ser grupales</p></li>
          <li><p>3 o más modalidades distintas entre sus coreografías</p></li>
          <li><p>Modalidades especiales NO participan</p></li>
        </ul>
        <p><b>Premios:</b></p>
        <ul>
          <li>
            <p>Trofeo STAGE DANCE CHAMPIONSHIP PREMIUM (2 metros de alto)</p>
          </li>
          <li>
            <p>
              La Escuela o Institución ganadora realizará una coreografía para
              la Gala de premiación representando a los profesionales de su país
              en STAGE DANCE INTERNATIONAL.
            </p>
          </li>
          <li>
            <p>
              Este premio siempre estará acompañado por dinero en efectivo y
              becas.
            </p>
          </li>
        </ul>
      </div>
      <h6>MEJOR DIRECTOR</h6>
      <p>
        Lo obtendrá el profesional que demuestre su mayor capacidad de liderazgo
        y trabajo en equipo con su grupo de pupilos. Deberá obtener el puntaje
        promedio más alto entre los postulantes. En caso de empate, se definirá
        por mayor cantidad de primeros lugares y en caso de ser único
        postulante, deberá tener un mínimo de 85 puntos de promedio entre sus
        puestas en escena.
      </p>
      <div class="m-l-10">
        <p><b>Requisitos:</b></p>
        <ul>
          <li><p>Tener en competencia un mínimo de 15 coreografías</p></li>
          <li><p>8 de esas coreografías deben ser grupales</p></li>
          <li><p>Modalidades Especiales SI participan</p></li>
        </ul>
        <p><b>Premios:</b></p>
        <ul>
          <li><p>Trofeo Especial</p></li>
          <li>
            <p>Este premio siempre estará acompañado de dinero en efectivo.</p>
          </li>
        </ul>
      </div>
      <h6>MEJOR COREÓGRAFO</h6>
      <p>
        Lo obtendrá el profesional que destaque en sus creaciones coreográficas
        y que además obtenga el puntaje promedio más alto entre los postulantes.
        En caso de empate, se definirá por mayor cantidad de primeros lugares y
        en caso de ser único postulante debe tener un mínimo de 80 puntos de
        promedio entres sus puestas en escena.
      </p>
      <div class="m-l-10">
        <p><b>Requisitos:</b></p>
        <ul>
          <li><p>Tener en competencia mínimo 5 coreografías grupales</p></li>
          <li>
            <p>Coreografías de Ballet Fragmento o Repertorio no participan</p>
          </li>
          <li><p>Modalidades Especiales SI participan</p></li>
        </ul>
        <p><b>Premios:</b></p>
        <ul>
          <li><p>Trofeo Especial</p></li>
          <li>
            <p>Este premio siempre estará acompañado de dinero en efectivo.</p>
          </li>
        </ul>
      </div>
      <h6>MEJOR BAILARÍN</h6>
      <p>
        Para optar por este premio, el bailarín deberá cumplir con la
        presentación de 3 coreografías explicadas en los requisitos El promedio
        más alto de los bailarines postulantes, tanto Estudiante como
        profesional serán los ganadores, en caso de empate se lo definirá por
        mayor cantidad de primeros lugares, Y en caso de ser el único
        postulante, deberá tener un puntaje mínimo de 85 puntos.
      </p>
      <div class="m-l-10">
        <p><b>Requisitos:</b></p>
        <ul>
          <li>1 coreografía debe ser solista</li>
          <li>2 coreografía debe ser dúo - trío o grupal</li>
          <li>3 coreografía grupal pequeño – grande o XL</li>
          <li>Las modalidades de las 3 coreografías deben ser distintas</li>
          <li>Modalidades especiales NO participan</li>
        </ul>
        <p><b>Premios:</b></p>
        <ul>
          <li><p>Trofeo Especial</p></li>
          <li>Este premio siempre estará acompañado de dinero en efectivo.</li>
        </ul>
      </div>
      <h6>MEJOR COREOGRAFÍA Y MEJOR COREOGRAFÍA MODALIDADES ESPECIALES</h6>
      <p>
        No necesita postulación, lo ganará la coreografía grupal que obtenga el
        puntaje más alto en el campeonato tanto en Modalidades de danza como
        Modalidades especiales.
      </p>
    </div>
  </div>
</div>
